<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
</head>
<body>
    <h1>Cadastre-se na nossa newsletter!</h1>
    <form action="/register" method="POST" style="display: flex; flex-direction: column; gap: 2; width: 20%;">
        <label for="name">Qual o seu nome?</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">Qual o seu melhor email?</label>
        <input type="email" name="email" id="email">
        <button type="submit" style="padding: .5rem; border-radius: 8px; margin-top: 1rem;">Cadastrar</button>
    </form>
</body>
</html>