<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parabéns</title>
</head>
<body>
    <form action="/users" method="GET">
        <h1>Você se cadastrou na nossa newsletter com sucesso!</h1>
        <p>Conheça também as outras milhares de pessoas que como você estão ficando cada vez mais bem informadas:</p>
        <button type="submit">Clicando aqui</button>
    </form>
</body>
</html>