@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('../fonts/idroid.otf') format(opentype);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa870;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --tittleFont:'idroid', Arial, Verdana, Sans-Serif;
}

main{
    background-color: var(--cor0);
    overflow: hidden;
}

header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    color: #ffffff;
    min-height: 1rem;
}

header > p{
    padding-top: 1em;
    text-align: center;
    color: #ffffffdc;
    text-shadow: 0.5px 0.5px 0px var(--cor3);
}

header > h1{
    text-align: center;
    padding-top: 2rem;
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.568);
}

header > nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header > nav > a{
    margin-left: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}

header > nav > a:hover{
    background-color: var(--cor3);
}


section{
    background-color: #fff;
    margin: auto;
    min-width: 20rem;
    max-width: 55rem;
    height: 100%;
    line-height: 1.8rem;
    text-align: justify;
    box-shadow: 0rem 0rem 0.5rem black;
    border-radius: 0rem 0rem .5rem .5rem;
}

h2{
    padding-top: 1.5rem;
    font-size: 2rem;
    text-align: left;
}

h2, h3{
    font-family: var(--tittleFont);
    font-size: 1.5rem;
    color: var(--cor5);
    text-indent: 2.5rem;
    text-decoration: underline;
}

p{
    text-indent: 2rem;
    margin: 1rem;
    padding: 1rem;
}

.images{
    display: flex;
    justify-content: center;
    object-fit: contain;
}

iframe{
    position: relative;
    display: block;
    padding: 2rem;
    background-color: var(--cor4);
    margin-bottom: 1rem;
}

p> a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
}

p > a:hover{
    text-decoration: underline;
}

aside{
    background-color: var(--cor1);
    max-width: 52rem;
    min-width: 20rem;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.753);
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    margin: 1rem;
    padding: 1rem;
}

aside > h4{
    background-color: var(--cor3);
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem ;
}

abbr{
    text-decoration: underline;
}

strong{
    color: var(--cor5);
}

footer{
    background-color: var(--cor5);
    padding: 0.5em;
    text-align: center;
    color: #ffffff;
}

footer >a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer > a:hover{
    text-decoration: underline;
    color: var(--cor2);
}

.ending{
    margin-left: 1rem;
}

    