@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: darkslategrey;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: #fff;
    padding: 1rem;
    text-shadow: 1px 1px 0px black;
}