/* Configurações gerais: */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  :root{
    --primaryColor: #771D9E;
    --secondaryColor: #A327D8;
    --terciaryColor: #6CF52C;
    --quaternaryColor: #F52C73;
    --fontColor: #754b33;
  }
  body{
    overflow-x: hidden;
  }
  .content img{
    width: 15rem;
    height: 15rem;
    border: 1px solid black;
  }
  #presentation>h1, .contentText>h2, #presentation>p{
    color: var(--fontColor);
  }
  
  
  /* Configurações do cabeçalho e suas animações: */
  #Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--primaryColor);
  }
  #logo{
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 50%;
  }
  
  #navUl{
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    letter-spacing: 1.5px;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #ccc;
    height: 87vh;
    top: 6rem;
    left: 0;
    width: 60vw;
    transform: translateX(-100%);
    border-radius: 0 0 1rem 1rem;
  }
  #navUl>a>p{
    padding: .5rem;
    color: black;
  }
  #navUl>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 3rem;
    border-radius: .5rem;
    color: white;
  }
  #navUl>a:hover{
    text-decoration: underline;
  }
  
  .slide-in {
    animation: slide-in 0.5s ease-in-out forwards;
  }
  .slide-out {
    animation: slide-out 0.5s ease-in-out forwards;
  }
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes slide-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slide-in-delayed {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(-50%);
    }
    to{
      transform: translateX(0%);
    }
  }
  
  #hamburguer{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    align-items: center;
  }
  .hamStyle{
    border: 2px solid white;
  }
  .active{
    border: 2px solid var(--quaternaryColor);
  }
  button.active .linha:nth-child(1){
    transform: translateY(.200rem) rotate(-45deg);
    background-color: var(--quaternaryColor);
  }
  button.active .linha:nth-child(2){
    display: none;
  }
  button.active .linha:nth-child(3){
    transform: translateY(-.400rem) rotate(45deg);
    background-color: var(--quaternaryColor);
  }
  .linha{
    width: 1.75rem;
    height: 2px;
    background-color: white;
    display: block;
    position: relative;
    transform-origin: center;
    transition: all 200ms;
  }
  
  /* Apresentação inicial:  */
  #presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    padding: 15rem 0 20rem 0;
  }
  #presentation>h1{
    font-size: 2rem;
    font-weight: bolder;
  }
  #presentation>p{
    font-size: 1.5rem;
  }
  
  /* Conteúdo da página: */
  .content{
    display: flex;
    padding: 3rem 1rem;
  }
  #content1{
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }
  #content2{
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }
  .contentText{
    background-color: rgba(211, 211, 211, 0.541);
    border-radius: 1rem;
    width: 90vw;
    height: 20rem;
    padding: 1rem;
    text-indent: 1rem;
    text-align: justify;
  }
  .knowMore{
    background-color: transparent;
    border-radius: 2rem;
  }
  #content1{
    flex-direction: row-reverse;
  }
  
  /* Parte do rodapé: */
  
  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 1rem 1rem 0.25rem 1rem;
    background-color: #ccc;
  }
  #footerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .25rem 1rem .25rem;
  }
  #footerLinks>a:visited, #footerLinks>a{
    color: black;
  }
  #footerNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    gap: .5rem;
  }
  #footerNav>a{
    text-decoration: underline;
    color: black;
    font-weight: 600;
  }
  #contacts{
    color: var(--fontColor);
  }