@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/fundo-madeira.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}


#phoneframe{
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons{
    text-align: right;
}

.iconimg{
    padding: .5rem;
    width: 4rem;
    border-radius: 50%;
}

