:root{
    --Blue: #2962FF;
    --Green: #0BB07B;
    --Yellow: #FFCE52;
    --Red: #F03D3D;
    --Grey: #E0E0E0;
    --OtherGrey: #717171;
    --Font: "Lexend Deca", Arial, Helvetica, sans-serif;
    --Font2: "Inter", Arial, Helvitica, sans-serif;
    --semiTransparent: #FFFFFF33;
}