*{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 20rem;
}
caption{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .5rem;
}

td, th{
    border: .1rem solid black;
    padding: .3rem;
    text-align: center;
}
