@media screen and (min-width: 668px) {
    img{
        width: 12.5vw;
    }
    body{
        background: rgb(34,193,195);
background: linear-gradient(315deg, rgba(34,193,195,1) 0%, rgba(253,45,185,1) 100%);
    }
    li{
        max-width: 40vw;
    }
    .text{
        max-width: 40vw;
    }
}

