@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor:hsl(1, 90%, 64%);
    --secondaryColor: hsl(219, 85%, 26%);
    --veryLightBlue:hsl(210, 60%, 98%);
    --lightBlue1: hsl(211, 68%, 94%);
    --lightBlue2: hsl(205, 33%, 90%);
    --grayishBlue: hsl(219, 14%, 63%);
    --darkGrayishBlue: hsl(219, 12%, 42%);
    --veryDarkBlue: hsl(224, 21%, 14%);
}

body{
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 1rem .25rem;
}

article{
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: flex-start;
    letter-spacing: .25px;
    gap: .5rem;
    padding: 1rem;
}

#notifications{
    background-color: var(--secondaryColor);
    color: white;
    padding: .175rem .75rem;
    margin: 0 .5rem;
    border-radius: .5rem;
}

.messagePreview{
    background-color: var(--darkGrayishBlue);
}

.notificationTime{
    color: var(--grayishBlue);
}

strong{
    color: gray;
}
strong:hover, .userNames:hover{
    color: rgb(0, 0, 175);
    cursor: pointer;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

button:hover{
    text-decoration: underline;
}

.userNames{
    font-weight: bold;
}

.active{
    background-color: var(--veryLightBlue);
}

.bubble{
    width: 16px;
    border-radius: 50%;
    background-color: var(--primaryColor);
}

img{
    width: 3rem;
}